
<%- include("header")-%>

<h1>This is about page.</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae labore eum voluptates aperiam assumenda a, pariatur aliquid ipsum inventore iusto excepturi quidem numquam mollitia accusamus ipsam voluptate eligendi repellat dolor.</p>


<%- include("footer")-%>


